h1 {
    font-family: cursive;
    color: black;
    text-align: center;
}
h3 {
    font-family: cursive;
    color: black;
    text-align: center;
}
body {
    background-color: cornsilk;
    text-align: center;
}